<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=plast-7;Initial Catalog=AirCompany" />
        <!--<add name="AirCompany.Module.Properties.Settings.Setting" connectionString="Data Source=VS-NMZ-02;Initial Catalog=AirCompany;User ID=1" /> -->
    </connectionStrings>
</configuration>