<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=plast-7;Initial Catalog=AirCompany" />
    </connectionStrings>
</configuration>